
footer.w3-container.w3-display-container.w3-light-grey
    p.w3-center
        a(href="mailto:pauloepinto@gmail.com") Email: pauloepinto@gmail.com

// adicionar cenas tipo : condições, Politica de privacidade, politica de cookies e tecnologias Apoio ao cliente Entrega,devolucoes, link contactos, ajuda