
footer.w3-container.w3-display-container.w3-light-grey.w3-inter(style="height: 5vh") 
    .w3-row
        .w3-half.w3-center(style="display: flex; align-item: center; justify-content: center")
            a(href="mailto:pauloepinto@gmail.com") Email: pauloepinto@gmail.com
        .w3-half.w3-center(style="display: flex; align-item: center; justify-content: center")
            a(href="https://github.com/BernardGeorges/ENGWEB2023-Projeto") Relatorio

// adicionar cenas tipo : condições, Politica de privacidade, politica de cookies e tecnologias Apoio ao cliente Entrega,devolucoes, link contactos, ajuda