doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='logo', href='/images/Logo.png')
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/mods.css')
    link(rel='stylesheet', href='/stylesheets/products.css')

  body
    block content
